
<p><%= @answer %><p>
<!--   <h1>Stupid Coaching</h1>

    <form action="" method="post">What is your question?</form>
  <p>What is your question?</p>
 -->
<%= link_to "Ask another question", ask_path %>
